body {
    background-color: #FFB5BE;
    display: flex;
    margin: auto;
    justify-content: center;
    
}

.container {
    position: fixed;
    bottom: 0px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.face {
    background-color: #953F00;
    position: fixed;
    bottom: -100px;
    width: 400px;
    height: 350px;
    border-radius: 100%;
    z-index: 3;
}

.eye-left {
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 70px;
    top: 150px;
    border-radius: 100%;
}
.eye-right {
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 280px;
    top: 150px;
    border-radius: 100%;
}
.mouth {
    background-color: white;
    position: absolute;
    left: 125px;
    top: 170px;
    width: 150px;
    height: 110px;
    border-radius: 100%;
}
.nose {
    background-color: black;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 180px;
    top: 190px;
    border-radius: 100%;
}

.bridge-left {
    position: absolute;
    left: 197px;
    top: 230px;
    width: 5px;
    height: 30px;
    background-color: black;
}

.ear-left {
    background-color: #953F00;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    z-index: 1;
}

.ear-right {
    background-color: #953F00;
    position: absolute;
    left: 330px;
    top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    z-index: 2;
}

.earhole-left {
    background-color: #F1AA1A;
    position: relative;
    left: 30px;
    top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: 2;
}
.earhole-right {
    background-color: #F1AA1A;
    position: relative;
    left: 20px;
    top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.eye-glare-left {
    background-color: white;
    position: relative;
    left: 30px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.eye-glare-right {
    background-color: white;
    position: relative;
    left: 30px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}